@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}


.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.site-layout-content {
  min-height: 280px;
  padding: 10px;
  background: #fff;
  width: 80%;
  margin: auto;
}
